.about-section {
  background-color: #2e3135;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.about-section h2,
.about-section p,
.about-section ul {
  margin: 0;
  padding: 0;
}
.about-section p {
  line-height: 25px;
}
.about-section .wrap {
  flex-basis: 80%;
  display: flex;
  margin-right: -20px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .about-section .wrap {
    flex-basis: 95%;
    margin-right: 0px;
  }
}
.about-section .wrap > * {
  flex-basis: 50%;
}
@media (max-width: 768px) {
  .about-section .wrap > * {
    flex-basis: 100%;
  }
}
.about-section .wrap .inner {
  margin-right: 40px;
}
@media (max-width: 768px) {
  .about-section .wrap .inner {
    margin-right: 0px;
  }
}
.about-section .wrap .inner img {
  border: 6px solid #4b4b4f;
  border-radius: 4px;
}
.about-section .wrap .inner h2 {
  color: white;
  font-size: 2.3rem;
  margin-bottom: 20px;
}
.about-section .wrap .inner .p-big {
  color: white;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.about-section .wrap .inner .p-big span {
  color: #e65f78;
}
.about-section .wrap .inner .p-small {
  color: #a0a0ac;
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.about-section .wrap .inner ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.about-section .wrap .inner ul li {
  color: #a0a0ac;
}
.about-section .wrap .inner ul li:not(:last-child) {
  margin-right: 15px;
}
.about-section .wrap .inner ul li a {
  display: block;
  border: 2px solid #a0a0ac;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 70px;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
}
@media (max-width: 768px) {
  .menu {
    background-color: white;
    position: relative;
  }
}
.menu .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .menu .container {
    width: 95%;
  }
}
.menu .container .logo-dark {
  display: none;
}
.menu .container .logo-dark img {
  width: 70%;
}
@media (max-width: 768px) {
  .menu .container .logo-dark {
    display: block;
  }
}
.menu .container .logo-light {
  display: block;
}
.menu .container .logo-light img {
  width: 70%;
}
@media (max-width: 768px) {
  .menu .container .logo-light {
    display: none;
  }
}
.menu .container ul {
  display: flex;
  list-style-type: none;
  width: 50%;
  margin: 0;
  text-transform: capitalize;
}
.menu .container ul a:not(:last-of-type) {
  margin-right: 10px;
}
.menu .container ul .active {
  color: #e65f78;
}
@media (max-width: 768px) {
  .menu .container ul {
    display: none;
  }
}
.menu .container i {
  display: none;
}
@media (max-width: 768px) {
  .menu .container i {
    display: inline-block;
  }
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-bg.jpg");
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner .banner-content {
  color: white;
}
.banner .banner-content span {
  display: inline-block;
  font-size: 33px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .banner .banner-content span {
    font-size: 20px;
  }
}
.banner .banner-content h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .banner .banner-content h1 {
    font-size: 30px;
  }
}
.banner .banner-content p {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  line-height: 25px;
}
@media (max-width: 768px) {
  .banner .banner-content p {
    width: 90%;
    margin: 0 0 30px 0;
  }
}
.banner .banner-content button {
  background-color: transparent;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  padding: 15px 30px;
  border: 2px solid white;
  border-radius: 125px;
}

.footer-container {
  flex-basis: 100%;
  text-align: center;
  background-color: #2e3135;
  padding: 5%;
}
.footer-container p {
  color: #a0a0ac;
  font-size: 1.2rem;
}
.footer-container .icons-footer {
  flex-basis: 100%;
  font-size: 1.5rem;
  padding-bottom: 15px;
}
.footer-container .icons-footer :not(:last-child) {
  padding-right: 1%;
}
.footer-container .icons-footer .footer-pic {
  border: 1 solid #2e3135;
  border-radius: 50%;
  padding: 15px 20px;
  color: #a0a0ac;
  background-color: #26282b;
}
.footer-container .icons-footer .footer-icn :hover {
  color: pink;
}

.blogsection {
  background-color: #26282b;
}
.blogsection .blog-inner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
  padding: 100px 0;
}
@media (max-width: 768px) {
  .blogsection .blog-inner {
    width: 95%;
  }
}
.blogsection .blog-inner img {
  margin-bottom: 10px;
}
.blogsection .blog-inner h2 {
  margin-bottom: 0;
}
.blogsection .blog-inner p {
  margin-bottom: 0;
  margin-top: 10px;
  color: #a0a0ac;
  line-height: 25px;
}
.blogsection .blog-inner .blog-cards {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
@media (max-width: 768px) {
  .blogsection .blog-inner .blog-cards {
    flex-wrap: wrap;
  }
}
.blogsection .blog-inner .blog-cards .cards {
  background-color: #2e3135;
  flex-basis: 33.333%;
  padding: 7px 7px 15px 7px;
  border-radius: 4px;
  text-align: left;
}
@media (max-width: 768px) {
  .blogsection .blog-inner .blog-cards .cards {
    flex-basis: 100%;
  }
}
.blogsection .blog-inner .blog-cards .cards h3 {
  margin-bottom: 0;
}
.blogsection .blog-inner .blog-cards .cards p {
  margin-bottom: 0;
  margin-top: 10px;
  color: #a0a0ac;
}
.blogsection .blog-inner .blog-cards .cards .readmore {
  font-weight: bold;
}
.blogsection .blog-inner .blog-cards .cards span {
  color: #e65f78;
  font-weight: bold;
}
.blogsection .blog-inner .blog-cards .cards:not(last-child) {
  margin-right: 15px;
}
@media (max-width: 768px) {
  .blogsection .blog-inner .blog-cards .cards:not(last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
}

img {
  max-width: 100%;
}

/*# sourceMappingURL=main.css.map */
