.about-section {
  background-color: #2e3135;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;

  h2,
  p,
  ul {
    margin: 0;
    padding: 0;
  }

  p {
    line-height: 25px;
  }

  .wrap {
    flex-basis: 80%;
    display: flex;
    margin-right: -20px;
    flex-wrap: wrap;
    @media (max-width: 768px) {
        flex-basis: 95%;
        margin-right: 0px;
    }

    & > * {
      flex-basis: 50%;
      @media (max-width: 768px) {
          flex-basis: 100%;
      }
    }

    .inner {
      margin-right: 40px;
      @media (max-width: 768px) {
          margin-right: 0px;
      }

      img {
        border: 6px solid #4b4b4f;
        border-radius: 4px;
      }

      h2 {
        color: white;
        font-size: 2.3rem;
        margin-bottom: 20px;
      }

      .p-big {
        color: white;
        font-size: 1.6rem;
        margin-bottom: 20px;

        span {
          color: #e65f78;
        }
      }

      .p-small {
        color: #a0a0ac;
        font-size: 1.2rem;
        margin-bottom: 15px;
      }

      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin-top: 50px;

        li {
          color: #a0a0ac;
          &:not(:last-child) {
              margin-right: 15px;
          }

          a {
            display: block;
            border: 2px solid #a0a0ac;
            border-radius: 50%;
            height: 60px;
            width: 60px;
            text-align: center;
            line-height: 70px;
          }
        }
      }
    }
  }
}
