.blogsection{
    background-color:  #26282b;
    
    .blog-inner{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: #fff;
        padding: 100px 0;

        @media (max-width: 768px) {
            width: 95%;
        }

        img{
            margin-bottom: 10px;
        }
        
        h2{
            margin-bottom: 0;
        }

        p{
            margin-bottom: 0;
            margin-top: 10px;
            color: #a0a0ac;
            line-height: 25px;
        }

        .blog-cards{
            display: flex;
            justify-content: space-between;
            padding-top: 50px;
            @media (max-width: 768px) {
                flex-wrap: wrap;
            }

            .cards{
                background-color: #2e3135;
               flex-basis: 33.333%;
               padding: 7px 7px 15px  7px;
               border-radius: 4px;
               text-align: left;
               @media (max-width: 768px) {
                flex-basis: 100%;
             }

               h3{
                   margin-bottom: 0;
               }

               p{
                   margin-bottom: 0;
                   margin-top: 10px;
                   color:#a0a0ac;
               }

               .readmore{
                font-weight: bold;
               }

               span {
                color: #e65f78;
                font-weight: bold;
              }
              
                &:not(last-child){
                    margin-right: 15px;

                    @media (max-width: 768px) {
                        margin-right: 0;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}