.footer-container {
    flex-basis: 100%;
    text-align: center;
    background-color: #2e3135;
    padding: 5%;

    p {
        color: #a0a0ac;
        font-size: 1.2rem;
    }

    .icons-footer {

        flex-basis: 100%;
        font-size: 1.5rem;
        padding-bottom: 15px;

        :not(:last-child) {
            padding-right: 1%;
        }

        .footer-pic {
            border: 1 solid #2e3135;
            border-radius: 50%;
            padding: 15px 20px;
            color: #a0a0ac;
            background-color: #26282b;
        }

        .footer-icn :hover {
            color: pink;
        }
    }
}