.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
    @media (max-width: 768px) {
        background-color: white;
        position: relative;
    }
    .container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            width: 95%;
            
        }
      
    
    .logo-dark {
        display: none;
        img {
            width: 70%;
        }
        
        @media (max-width: 768px) {
            display: block;
        }
    }

    .logo-light {
        display: block;
        img {
            width: 70%;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }

    ul {
        display: flex;
        list-style-type: none;
        width: 50%;
        margin: 0;
        text-transform: capitalize;
        
        a:not(:last-of-type) {
            // display: inline-block;
            margin-right: 10px;
        }

        .active {
            color: #e65f78;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    i {
        display: none;
        @media (max-width: 768px) {
            display: inline-block;
        }
    }
}
}

.banner {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../images/header-bg.jpg");
    background-position: center;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .banner-content{
    color: white;
    
        span {
            display: inline-block;
            font-size: 33px;
            margin-bottom: 30px;
            @media (max-width: 768px) {
                font-size: 20px;
            }
        }

        h1 {
            font-size: 60px;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 30px;

            @media (max-width: 768px) {
                font-size: 30px;
            }
            

        }

        p {
            width: 60%;
            margin-left:auto;
            margin-right:auto;
            margin-bottom: 30px;
            line-height: 25px;
            @media (max-width: 768px) {
                width: 90%;
                margin: 0 0 30px 0;
            }

        }

        button {
            background-color: transparent;
            color: white;
            font-size: 22px;
            text-transform: uppercase;
            padding: 15px 30px;
            border: 2px solid white;
            border-radius: 125px;

        }
    }
    
}